




.navbar  {

background-image: url("../../assets/images/sky1.jpg");
font-weight: 500;
font-size: 1.4em;
font-family: 'El Messiri', sans-serif;


}


a {

color:rgb(212, 221, 233);


}


.navbar-header .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:whitesmoke;
    color:blue;
}




