<div class="container">

    <nav class="navbar navbar-header  ">
      <div class="container-fluid">
    
        <ul class="nav navbar-nav">
          <li><a href="#">Israeli soccer</a></li>
          <li><a href="#">News and political</a></li>
          <li class="active"><a href="#">Main</a></li>
        </ul>
      </div>
      <div>
          <div class='container'>
        <div class="jumbotron">
            <div class='row'>
             <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h1>Angular 6</h1>
                <ul>
                <li>This website was builed by Ran Niv for demonstration purposes only and is intended to showcase the capabilities of the Angular Platform</li>
                <li>The website was built in the latest version of the platform (version 6)</li>
                <li>The website is based on the Walla Rss Feed Service</li>
                </ul>
             </div>
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src=".\assets\images\angular1.jpg" class="img-responsive" alt="Responsive image" >
             </div>
             
             
          
       
        </div>
        </div>
      </div>
      </div>
      
    </nav>
    
  
  
  </div> <!-- /container -->
  